button.btn {
  padding: 3px 4px;
  border-radius: 0 20px 20px 0;
  background: #6ADFD7;
  border: none;
  color: #fff;
  cursor: pointer;

  &[disabled]{
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.wrap {
  display: flex;
}