<div class="wrap">
    <app-phone-select
            [options]="options"
            [formControl]="phonesForm.controls['phone']">
    </app-phone-select>
    <button [disabled]="!valid" class="btn">CALL</button>
</div>