.phone-select-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  height: 353px;
  overflow-y: scroll;
  background: #FFF;
  left: -999999px;

  &.show{
    left:0;
  }

  & > ul {
    margin: 0;
    padding: 0;

    & > li {
      list-style: none;
      padding: 9px 8px;
      border-bottom: 1px solid #DEDEDE;
      font-size: 12px;
      line-height: 12px;
      color: #787879;

      app-flag {
        margin-right: 3px;
        position: relative;
        top: 2px;
      }

      &:hover, &.active {
        background: #F0F0F0;
        cursor: pointer;
      }
    }
  }
}

.form-control {
  background: #F0F0F0;
  border: 1px solid #F0F0F0;
  color: #8E8E8E;

  &:focus{
    outline: none;
  }
}

.phone-select-form {
  display: flex;

  button.prefix {
    padding: 3px 4px;
    border-radius: 20px 0 0 20px;
    border-color: transparent;
    background: #E1DEDD;
    color: #616564;

    &:focus {
      outline: none;
    }
  }
}